[Desktop Entry]
Version=1.1
Name=BlankOn Reference Manual
Comment=An introduction and reference manual for BlankOn
Icon=emblem-blankon
Type=Link
URL=https://www.blankonlinux.id/doc/manuals/reference/
