[Desktop Entry]
Version=1.1
Name=BlankOn Security Updates
Comment=Learn about new fixed packages
Icon=/usr/share/pixmaps/blankon-security.png
Type=Link
URL=https://www.blankonlinux.id/security/
