[Desktop Entry]
Version=1.1
Name=BlankOn Home Page
Comment=The official web site of the BlankOn Project
Icon=emblem-blankon
Type=Link
URL=https://www.blankonlinux.id

